html {
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 65px;
  text-align: center;
}

p{
  font-size: 1.25rem;
  
}

a:link {
  text-decoration-line: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration-line: overline;
}

nav {
  font-family: "Comfortaa", cursive;
  display: flex;
  position: fixed;
  top: 5px;
  left: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#one {
  display: flex;
  justify-content: flex-end;
  height: 50vh;
}

#two {
  display: flex;
  height: 50vh;
  justify-content: space-between;
  align-items: end;
}

#empty {
  height: 100%;
  width: 40vw;
  /* background-color:; */
}

.nav-item {
  padding: 0 2rem;
  font-size: 1rem;
}

#name {
  font-family: 'Rubik', sans-serif;
  font-size: 14vw;
  padding-left: 0.5rem;
}

address {
  font-size: 1rem;
  font-family: "Comfortaa", cursive;
  padding-right: 3.5rem;
  padding-bottom: 1.5rem;
  align-self: flex-end;
}

#three {
  height: 88vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 12vh;
}

#about{
  font-family: "Comfortaa", cursive;
  background-color: black;
  color: aliceblue;
  height: 7rem;
  width: 35vw;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


#me{
  width: 100%;
  text-align: left;
}

#icon{
  padding: 1rem;
  width: 140px;
  display: flex;
  justify-content: space-between;
}

#experience {
  height: 88vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 12vh;
}

#head-middle{
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  font-family:  "Comfortaa", cursive;
}

#education{
  font-family: "Comfortaa", cursive;
  background-color: white;
  color: black;
  height: 7rem;
  width: 35vw;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}