body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  font-family: 'Rubik', sans-serif;
}
h1 {
    font-size: 60px;
    text-align: center;
  }
  